<div class="background">
    <div class="player">
        <div class="card-deck">
            <div class="card" *ngFor="let botCard of botCards">
                <h4 class="card-left">{{botCard.numero}}</h4>
                <div [ngSwitch]="botCard.naipe" class="naipes">
                    <img *ngSwitchCase="'Paus'" src="assets/img/naipes/PAUS.png" class="logo-align">
                    <img *ngSwitchCase="'Copas'" src="assets/img/naipes/COPAS.png" class="logo-align copas">
                    <img *ngSwitchCase="'Espadas'" src="assets/img/naipes/ESPADAS.png" class="logo-align">
                    <img *ngSwitchCase="'Ouros'" src="assets/img/naipes/OUROS.png" class="logo-align">
                </div>
                <h4 class="card-rigth">{{botCard.numero}}</h4>
            </div>
        </div>
    </div>

    <div>
        <!-- table -->
        <div>bot pontuação {{botPontGeral}}</div>
        <div>user pontuação {{userPontGeral}}</div>
        <div>Manilha{{manilha.numero}}</div>
        <button (click)="isTruco()">trucooo!!!</button>
        <div *ngIf="finalizouJogo">Finalizou o jogo!!!!!!!!!!!!!</div>
    </div>

    <div class="player">
        <div class="card-deck">
            <div class="card" *ngFor="let userCard of userCards" (click)="selectUserCard(userCard)">
                <h4 class="card-left">{{userCard.numero}}</h4>
                <div [ngSwitch]="userCard.naipe" class="naipes">
                    <img *ngSwitchCase="'Paus'" src="assets/img/naipes/PAUS.png" class="logo-align">
                    <img *ngSwitchCase="'Copas'" src="assets/img/naipes/COPAS.png" class="logo-align copas">
                    <img *ngSwitchCase="'Espadas'" src="assets/img/naipes/ESPADAS.png" class="logo-align">
                    <img *ngSwitchCase="'Ouros'" src="assets/img/naipes/OUROS.png" class="logo-align">
                </div>
                <h4 class="card-rigth">{{userCard.numero}}</h4>
            </div>
        </div>
    </div>
</div>