.background {
    background-color: rgb(170, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    height: 90%;
    width: 60%;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .bottom{
        border-radius: 15px 15px 0 0;
    }
}

.card-deck {
    display: flex;
    justify-content: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 11%;
    height: 60%;
    background-color: #e9e9e9;
    border-radius: 5px;
    border: 1px solid #cecece;

    .naipes {
        text-align-last: center;

        img {
            width: 90%;

            &.copas {
                width: 70%;
                height: 93%;
            }
        }
    }
    
    &:first-child {
        transform: rotate(28deg);
    }

    &:last-child {
        transform: rotate(341deg)
    }

    h4 {
        font-size: 20px;

        &.card-rigth {

            text-align: -webkit-right;
        }
    }
}